<div id="header">
 <div class="h_main">
    <div class="header-box container">
        <a href="indexNPage" class="logo-box"><img src="imgs/logo.png" alt="logo"  class="logo"></a>
        <span class="h-title">亚健康问卷调查</span>
        <a class="Login" href="javascript:;">退出</a>
        <p class="user-box rt">
            <span>欢迎您</span>&nbsp;&nbsp;&nbsp;
            <span class="userName"></span>
            <b>|</b>
        </p>
    </div>
</div>
</div>

